@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

.welcome
{
  font-family: 'Cabin', sans-serif;
  font-size: 500%;
  color:black;
}

.cover 
{
  background-image: url(../front-view/gambar_3.jpeg);
  background-size: cover;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat; 
  // filter: brightness(150%) contrast(100%) saturate(100%);
  // background-position: center;
  // display: flex;
  // position: fixed;
  // -webkit-filter: blur(1.5px);
  // background-repeat: repeat-x;
  // backdrop-filter: blur(10px);
}