<nav class="navbar navbar-expand-sm navbar-dark fixed-top" style="background-color: black; margin-bottom: 0% !important;">
  <a class="navbar-brand" href="#">LOGO</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Why Choose Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Our Service</a>
      </li>  
      <li class="nav-item">
        <a class="nav-link" href="#">Industries</a>
      </li> 
      <li class="nav-item">
        <a class="nav-link" href="#">Contact Us</a>
      </li>   
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          Others
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Link 1</a>
          <a class="dropdown-item" href="#">Link 2</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Link 3</a>
        </div>
      </li>
    </ul>
    <form>
      <div class="input-group">
        <input class="form-control sm-2" type="text" placeholder="Search" aria-label="Search" style="border-top-left-radius: 30px; border-bottom-left-radius: 30px;">
        <div class="input-group-append">
          <button class="btn btn-outline-light my-2 my-sm-0" type="submit" style="border-top-right-radius: 30px; border-bottom-right-radius: 30px;">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
              <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
            </svg>
          </button>
        </div>
      </div>
    </form>
  </div>  
</nav>

<div class="container" style="display: contents;">
  <div class="col">
    <div class="row" style="margin-top: 13%; margin-right: 10%;">
      <div class="welcome " style="text-align: right; width: 100%; ">
        Welcome !
        <p class="mt-5" style="font-size:40%; ">BISNIS TEKNO UTAMA</p>
      </div>
      <div class="card mb-5 bg-transparent mt-1" style="margin-left: 75%; border-radius: 10px; ">
        <div class="card-body" style="color: black; text-align: center;">
          Bisnis Tekno Utama merupakan perusahaan di bidang Teknologi Informasi yang utamakan mutu.
          Kami saat ini bergerak di bidang uji programming skill, asah programming skill, dan manajemen dokumen berbasis blockchain.
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="container-fluid" style="padding-left: 0px; padding-right: 0px !important;">
        <div class="card w-100" style="background-color: rgba(0, 0, 0, 0.3); border-top-right-radius: 30px; border-top-left-radius: 30px; border-bottom-left-radius: 0px; border-bottom-right-radius: 0px;">
          <div class="mt-3 ml-2 welcome" style="font-size: x-large; color: white;">
            Our Solution
          </div>
          <div class="card-body">
            <div class="row">
              <div class="card-deck ml-2 mr-2">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title text-center">
                      <b>ASAH SKILL</b>
                    </h4>
                    <p class="card-text">Asah Skill adalah produk kami untuk asah programming skill Anda.</p>
                    <div class="text-center">
                        <a href="https://uji-skill.com/" target="_blank">  
                          <button type="button" class="btn btn-dark" >Begin</button>
                        </a>
                    </div>
                  </div>
                  <div class="card-footer" style="background-color: black;">
                    <small class="text-muted">Bisnis Tekno Utama</small>
                  </div>
                </div>
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title text-center">
                      <b>
                          UJI SKILL
                      </b>
                    </h4>
                    <p class="card-text">Uji Skill adalah produk kami untuk uji programming skill Anda.</p>
                    <div class="text-center">
                        <a href="https://uji-skill.com/" target="_blank">  
                          <button type="button" class="btn btn-dark" >Begin</button>
                        </a>
                    </div>
                  </div>
                  <div class="card-footer" style="background-color: black;">
                    <small class="text-muted">Bisnis Tekno Utama</small>
                  </div>
                </div>
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title text-center">
                      <b>
                          BANK SERTIFIKAT
                      </b>
                    </h4>
                    <p class="card-text">Bank Sertifikat adalah produk kami untuk simpan sertifikat Anda dengan teknologi blockchain.</p>
                    <div class="text-center">
                        <a href="https://uji-skill.com/" target="_blank">  
                          <button type="button" class="btn btn-dark" >Begin</button>
                        </a>
                    </div>
                  </div>
                  <div class="card-footer" style="background-color: black;">
                    <small class="text-muted">Bisnis Tekno Utama</small>
                  </div>
                </div>
              </div>
            </div>

            <div class="row mt-3">
                
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
