/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.cover 
{
  background-image: url(../src/assets/img/gambar_11.png);
  background-size: cover;
  width: 100%;
  height:50%;
  background-repeat: no-repeat; 
  // filter: brightness(150%) contrast(100%) saturate(100%);
  // background-position: center;
  // display: flex;
  // position: fixed;
  // -webkit-filter: blur(1.5px);
  // background-repeat: repeat-x;
  // backdrop-filter: blur(10px);
}
